# Created by .ignore support plugin (hsz.mobi)
.idea
shopping/mall/node_modules
shopping/sale_mall/node_modules
shopping/sale_mall/build
video-browser/node_modules
images/node_modules
3d-demo/node_modules
