# Created by .ignore support plugin (hsz.mobi)
.idea
complete-node-bootcamp-master.zip
complete-node-bootcamp-master/1-node-farm/final
complete-node-bootcamp-master/1-node-farm/starter/node_modules
complete-node-bootcamp-master/2-how-node-works/final
complete-node-bootcamp-master/3-asynchronous-JS/final
complete-node-bootcamp-master/4-natours/after-section-06
complete-node-bootcamp-master/4-natours/after-section-08
complete-node-bootcamp-master/4-natours/after-section-09
complete-node-bootcamp-master/4-natours/after-section-10
complete-node-bootcamp-master/4-natours/after-section-11
complete-node-bootcamp-master/4-natours/after-section-12
complete-node-bootcamp-master/4-natours/after-section-13
complete-node-bootcamp-master/4-natours/after-section-14